body {
    background-color: black;
}

#poster {
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
}

#poster img {
    border: 2px solid white;
    width: 100%;
}

#poster h1 {
    font-family: Menlo, sans-serif;
    color: white;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
}

#poster p {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
}